<!DOCTYPE html>
<html>
<head>
    <title>Approve Colonel</title>
</head>
<body>
    <center>
        <h2>Approve Colonel Accounts</h2>
        <table border="1">
            <tr>
                <th>Username</th>
                <th>Password</th>
                <th>Contact</th>
                <th>Gender</th>
                <th>Email</th>
                <th>Address</th>
                <th>User Type</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
            {{ data|safe }}
        </table>
    </center>
</body>
</html>
