<!DOCTYPE html>
<html>
<head>
    <title>Approve Major General</title>
</head>
<body>
    <center>
        <h2>Approve Major General Accounts</h2>
        <table border="1">
            <tr>
                <th>Username</th>
                <th>Password</th>
                <th>Contact</th>
                <th>Gender</th>
                <th>Email</th>
                <th>Address</th>
                <th>User Type</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
            {{ data|safe }}
        </table>
        <br>
        <a href="AdminScreen.html">Back</a> <!-- Should be a view link, but AdminScreen is rendered directly. I'll link to AdminLoginAction or just back to index/login if session persists. -->
    </center>
</body>
</html>
