<!DOCTYPE html>
<html>
<head>
    <title>Approve Brigadier</title>
</head>
<body>
    <center>
        <h2>Approve Brigadier Accounts</h2>
        <table border="1">
            <tr>
                <th>Username</th>
                <th>Password</th>
                <th>Contact</th>
                <th>Gender</th>
                <th>Email</th>
                <th>Address</th>
                <th>User Type</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
            {% for user in users %}
            <tr>
                <td>{{ user.username }}</td>
                <td>********</td>
                <td>{{ user.contact }}</td>
                <td>{{ user.gender }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.address }}</td>
                <td>{{ user.usertype }}</td>
                <td>{{ user.status }}</td>
                <td><a href="ApproveBrigadierUser?t1={{ user.username }}">Click Here</a></td>
            </tr>
            {% endfor %}
        </table>
    </center>
</body>
</html>
