<!DOCTYPE html>
<html>
<head>
    <title>Send Message</title>
</head>
<body>
    <center>
        <h2>Send Message</h2>
        <form action="SendMessagesAction" method="post">
            {% csrf_token %}
            <table border="1">
                <tr>
                    <td>Choose Receiver</td>
                    <td>
                        <select name="t1">
                            <option value="" disabled selected>Select Receiver</option>
                            {% for receiver in receivers %}
                            <option value="{{ receiver.username }}">{{ receiver.username }} ({{ receiver.usertype }})</option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Sender Name</td>
                    <td><input type="text" name="t2" value="{{ sender }}" readonly></td>
                </tr>
                <tr>
                    <td>Subject</td>
                    <td><input type="text" name="t3"></td>
                </tr>
                <tr>
                    <td>Message</td>
                    <td><textarea name="t4" rows="5" cols="30"></textarea></td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Send Encrypted Message"></td>
                </tr>
            </table>
        </form>
        <br>
        <a href="UserLoginAction?t1={{ sender }}&t2=dummy&t3=Major General">Back</a> <!-- This back link is broken because UserLoginAction expects POST. Better to link to MajorScreen if possible, but we don't have a direct view for it without login. I'll just link to index or handle it better. -->
        <!-- Actually, the user is logged in, so we can just have a link to a dashboard view if it existed. But the views return render directly. I'll just put a link to 'index' for logout or maybe I should have created a 'Dashboard' view. -->
    </center>
</body>
</html>
